@model AutoBarn.WebUI.Models.BookingViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="index-banner" class="parallax-container booking  white-text" >
    
                        <h1 style="vertical-align: middle; text-align: center;">Make a booking</h1>
                    
    <div class="parallax home-banner booking">
        <img src="~/Content/Images/booking-banner.jpg" alt="Unsplashed background img 1" style="height: 400px;">
    </div>
</div>


<div style="background-color: #F4F4F4;padding-bottom: 10px;">

<div class="row">
    </div>
    <div class="row">
        <div class="col s12 m2">
            &nbsp;
        </div>

        <div class="col s12 m8">
            <p>We appreciate just how busy your day can be. So, when it's convenient for you to book your next service and/or MOT, you'll be please to know you can do everything online.</p>
            <p>Fill in all your details on the form on this page and your car will be booked into our system. You will receive an email to confirm that your vehicle has been booked in with us.</p>
        </div>

        <div class="col s12 m2">
            &nbsp;
        </div>

    </div>


   

    <div class="row">

        <div class="col s12 m2">
            &nbsp;
        </div>
        <div class="col s12 m4" id="booking-form">
            <form  action="@Url.Action("New", "Booking")" method="POST">

                <div class="row">

                    @*<div class="input-field col s10">*@
                        <input type="text" id="firstName" name="firstName" class="browser-default" placeholder="First Name">
                    @*</div>*@

                </div>

                <div class="row">

                    @*<div class="input-field col s10">*@
                        <input type="text" id="lastName" name="lastName" class="browser-default" placeholder="Surname">
                    @*</div>*@

                </div>

                <div class="row">

                    @*<div class="input-field col s10">*@
                        <input type="text" id="email" name="email" class="browser-default" placeholder="Email">
                    @*</div>*@

                </div>

                <div class="row">

                    @*<div class="input-field col s10">*@
                        <input type="text" id="telephone" name="telephone" class="browser-default" placeholder="Telephone">
                    @*</div>*@

                </div>

                <div class="row">

                    @*<div class="input-field col s10">*@
                        <input type="text" id="registration" name="registration" class="browser-default" placeholder="Registration">
                    @*</div>*@

                </div>

                <div class="row">

                    @*<div class="input-field col s10">*@
                        <select id="vehicleMakes" name="makeId" >
                            <option value="" disabled selected>Choose Make</option>
                            @*<option value="@Model.SelectedModel.Make.Id" selected>@Model.SelectedModel.Make.Name</option>*@
                            @foreach (var make in Model.Makes)
                            {
                                <option value="@make.Id" selected="@(Model.SelectedModel.Make.Id == make.Id)">@make.Name</option>
                            }
                        </select>
                    @*</div>*@
                   
                </div>
                <div class="row">
                    @*<div class="input-field col s10">*@
                    <select id="vehicleModels" name="modelId">
                        <option value="" disabled selected>Choose Model</option>
                        @foreach (var carModel in Model.Models)
                        {
                            <option value="@carModel.Id" selected="@(Model.SelectedModel.Id == carModel.Id)">@carModel.Name</option>
                        }
                    </select>
                    @*</div>*@
                </div>

                <div class="row">
                    @*<div class="input-field col s10">*@
                    <select id="services" name="serviceId">
                        <option value="" disabled selected>Type of service</option>
                        @foreach (var service in Model.Services)
                        {
                            <option value="@service.Id" selected="@(Model.SelectedService.Id == service.Id)">@service.Name</option>
                        }
                    </select>
                    @*</div>*@
                </div>

                <div class="row">
                    @*<div class="input-field col s10">*@
                    <input type="date" id="date" name="date" class="browser-default"/>
                    @*</div>*@
                </div>

                <div class="row">
                    <textarea id="notes" class="materialize-textarea" name="notes" placeholder="Please enter any notes"
                              style="background-color: white;" rows="200">
                        </textarea>
                </div>

                <div class="row">
                    <div class="input-field col s10">
                        <button class="btn" value="submit" type="submit">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col s12 m1">
            &nbsp;
        </div>

        <input type="hidden" id="selectedMakeId" value="@Model.SelectedModel.Make.Id" />
        <input type="hidden" id="selectedServiceId" value="@Model.SelectedService.Id" />
        <input type="hidden" id="selectedModelId" value="@Model.SelectedModel.Id" />
        <input type="hidden" value="@Model.SelectedService.Price" />
        <input type="hidden" value="@Model.SelectedService.DealerPrice" />

        <div class="col s12 m4">

            <div class="row">

                <table id="booking-details">
                    <tr>
                        <td>Make</td>
                        <td>@Model.SelectedModel.Make.Name</td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td>@Model.SelectedModel.Name</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>@Model.SelectedService.Price</td>
                    </tr>
                    <tr>
                        <td>Dealer price</td>
                        <td>@Model.SelectedService.DealerPrice</td>
                    </tr>
                    <tr>
                        <td>Saving</td>
                        <td>@{

                                decimal savings = 0;
                            if (Model != null)
                            {
                                savings = Model.SelectedService.DealerPrice - Model.SelectedService.Price;
                            }

                            }
                        £@savings
                        </td>
                    </tr>
                </table>
               
            </div>

            <div class="row">
                <img src="~/Content/Images/make-booking-image.png" class="center-align"/>
            </div>

            <div class="row">
                The team at Auto-Barn are, of course, always available on 02392 592010
            </div>

        </div>

        <div class="col s12 m1">
            &nbsp;
        </div>

    </div>

</div>


@section scripts{
    <script>
    
        $('.button-collapse').sideNav();
        $('.parallax').parallax();
        $('.slider').slider({ full_width: true });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
        $('select').material_select();

        $('#vehicleMakes').on('change', function () {


            $.ajax({
                url: "/Booking/Models/" + this.value,
                type: 'GET',
                success: function (data) {

                    var $select = $('#vehicleModels');
                    $select.empty();

                    $('<option disabled selected>', {
                        value: ''
                    }).html('Choose Model').appendTo($select);

                    for (var i = 0; i < data.length; i++) {
                        console.info(data[i].Name);

                        var option = $('<option>', {
                            value: data[i].Id
                        }).html(data[i].Name).appendTo($select);
                    }


                    var $services = $('#services');

                    $services.empty();

                    $('<option disabled selected>', {
                        value: ''
                    }).html('Choose Model').appendTo($services);



                    $('select').material_select();
                },
                error: function () {
                    console.info("There was an error downloading the makes data");
                }
            });
        });

        $('#vehicleModels').on('change', function () {

            $.ajax({
                url: "/Booking/Services/" + this.value,
                type: 'GET',
                success: function (data) {

                    var $select = $('#services');
                    $select.empty();

                    $('<option disabled selected>', {
                        value: ''
                    }).html('Choose Model').appendTo($select);

                    for (var i = 0; i < data.length; i++) {
                        console.info(data[i].Name);

                        var option = $('<option>', {
                            value: data[i].Id
                        }).html(data[i].Name).appendTo($select);
                    }

                    $('select').material_select();
                },
                error: function () {
                    console.info("There was an error downloading the makes data");
                }
            });
        });


    </script>

}