<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Service & MOT | Car service | Engine Remapping Waterlooville | Car MOT | Hampshire car service | Waterlooville car MOT | Waterloovile MOT and servicing |</title>
    <meta name="description" content="Auto-Barn are a family owned garage able repair, MOT and service all motor vehicles upto and including 3.5tonne commercial vehicles. Based in Waterlooville, Hampshire" />
    <meta name="keywords" content="Car service , Engine Remapping Waterlooville , Car MOT , Hampshire car service , Waterlooville car MOT , Waterloovile MOT and servicing, Auto-Barn Motor Services, Autobarn, Auto-Barn, autobahn, MOT, Service, Waterlooville Garages, Hampshire garages, Car Service, Car Repair, Car MOT" />

    @Styles.Render("~/Content/materialize")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Crimson+Text"/>
    @*<link rel="stylesheet" href="~/Content/bootstrap-image-gallery.min.css">*@

</head>
<body style="">
<div class="top-line">
    <div class="row">
        <div class="col s3">&nbsp;</div>
        <div class="col s7"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><h2>Call us now on 02392 592010 | <a href="@Url.Action("New", "Booking")" id="instant-quote">INSTANT ONLINE QUOTE</a></h2></div>
        <div class="col s2">&nbsp;</div>
    </div>
</div>
<nav id="nav-bar" role="navigation">
    <div class="nav-wrapper container">
        @*<a id="logo-container" href="#" class="brand-logo">AUTO-BARN MOTOR SERVICES LTD</a>*@
        <a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/auto-barn-logo.png" class="brand-logo" /></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="@Url.Action("New", "Booking")">MAKE A BOOKING</a></li>
            <li><a href="@Url.Action("ServiceMot", "Home")">SERVICE & MOT</a></li>
            <li><a href="@Url.Action("Index", "Gallery")">GALLERY</a></li>
            <li><a href="@Url.Action("Contact", "Home")">CONTACT US</a></li>
            <li><a href="@Url.Action("Team", "Home")">MEET THE TEAM</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="@Url.Action("New", "Booking")">Make a booking</a></li>
            <li><a href="@Url.Action("ServiceMot", "Home")">Service and MOT</a></li>
            <li><a href="@Url.Action("Index", "Gallery")">Gallery</a></li>
            <li><a href="@Url.Action("Contact", "Home")">Contact us</a></li>
            <li><a href="@Url.Action("Team", "Home")">Meet the team</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>


    @RenderBody()

<footer class="page-footer autobarn">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="autobarn">About Us</h5>
                <p>Autobarn Motor Services was founded in 2010. The 3 members of staff have a combined trade experience in excess of 30 years. After working for a number of years for Mercedes-Benz, BMW and VW the trio decided to have a go themselves and haven't looked back since.</p>

            </div>
            <div class="col l3 s12">
                <h5 class="autobarn">Contact Us</h5>
                <ul>
                    <li><a href="#!">Auto-Barn Motor Services Ltd</a></li>
                    <li><a href="#!">The Barn</a></li>
                    <li><a href="#!">259 Lovedean Lane</a></li>
                    <li><a href="#!">Waterlooville</a></li>
                    <li><a href="#!">Hampeshire</a></li>
                    <li><a href="#!">PO8 9RX</a></li>
                    <li><a href="#!">02393 592010 9RX</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="autobarn">Opening Hours</h5>
                <ul>
                    <li><a href="#!">Monday to Friday 08:00 - 17:30</a></li>
                    <li><a href="#!">Saturday 08:30 - 12:30</a></li>
                    <li><a href="#!">Sunday Closed</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            <a href="https://www.facebook.com/Auto-barn-Motor-Services-Ltd-487008848048938/?fref=ts">
                <img src="~/Content/Images/Social/FB-FindUsonFacebook-online-144.png"/>
            </a>
        </div>
    </div>
        <div class="footer-copyright">
            <div class="container center-align">
               Copyright Auto-Barn Motor Services 2015. All rights reserved.
            </div>
        </div>
    </footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/materialize")
@RenderSection("scripts", required: false)
</body>
</html>
