<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/materialize")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="">

<nav id="nav-bar" role="navigation">
    <div class="nav-wrapper container">
        @*<a id="logo-container" href="#" class="brand-logo">AUTO-BARN MOTOR SERVICES LTD</a>*@
        <img src="~/Content/Images/auto-barn-logo.png" class="brand-logo"/>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Make a booking</a></li>
            <li><a href="#">Service and MOT</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Make a booking</a></li>
            <li><a href="#">Service and MOT</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>


    @RenderBody()

<footer class="page-footer autobarn">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4">Autobarn Motor Services was founded in 2010. The 3 members of staff have a combined trade experience in excess of 30 years. After working for a number of years for Mercedes-Benz, BMW and VW the trio decided to have a go themselves and haven't looked back since.</p>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contact Us</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Auto-Barn Motor Services Ltd</a></li>
                        <li><a class="white-text" href="#!">The Barn</a></li>
                        <li><a class="white-text" href="#!">259 Lovedean Lane</a></li>
                        <li><a class="white-text" href="#!">Waterlooville</a></li>
                        <li><a class="white-text" href="#!">Hampeshire</a></li>
                        <li><a class="white-text" href="#!">PO8 9RX</a></li>
                        <li><a class="white-text" href="#!">02393 592010 9RX</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Opening Hours</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Monday to Friday 08:00</a></li>
                        <li><a class="white-text" href="#!">Saturday 08:30</a></li>
                        <li><a class="white-text" href="#!">Sunday Closed</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center-align">
               Copyright Auto-Barn Motor Services 2015. All rights reserved.
            </div>
        </div>
    </footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/materialize")
@RenderSection("scripts", required: false)
</body>
</html>
